{% block topNavigation %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-dark">
            <i class="fas fa-align-left"></i>
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">DWR</a>
        <a class="navbar-brand" href="/">HOME</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

{% endblock %}